<<<<<<< HEAD
/*스타일링의 우선순위
    스타일 방법에 따른 우선순위
    (단, HTML 코드의 위치에 따라 우선순위는 달라질 수 있다)
        1. External Style
        2. Internal Style
        3. Inline Style
    같은 태그의 스타일링 우선순위
        1. tag-selector, pseudo-element
        2. class-selector, pseudo-class, attribute
        3. ID-selector
        4. Inline-style
        - 같은 태그에 같은 우선순위를 가지는 스타일링을 했을 때의 우선순위
        예> a 태그에 pseudo-class를 여러개 적용했을 때    
            a 태그에 class를 여러개 적용했을 때
            ==> css의 작성 순서로 스타일링 적용    
*/
/*링크에 대한 스타일*/
a:link {
  color: #666;
  font-size: 20px;
  text-decoration: none;
}
/*링크에 마우스를 올렸을 때 스타일*/
a:hover {
  color: #444;
  text-decoration: underline;
}
/*방문 기록이 있는 링크의 스타일*/
a:visited {
  color: #b0b;
}
/*링크를 마우스로 누르고 있을 때 스타일*/
a:active {
  color: #a00;
}
/*Tab 눌렀을 때만 보이는 것*/
a:focus {
  /* border: 3px solid #000; */
  /* outline: 5px dashed #a00; */
  outline: 0;
  color: #0ff;
  background-color: #ff0;
}

.section-title {
  color: #333 !important;
  margin: 5px;
  border-bottom: 2px solid #ccc;
}
.vertical-list {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 20px;
}
.vertical-item {
  padding: 5px 10px;
  border-bottom: 1px dashed #ccc;
}
/*클래스가 vertical-item인 태그의 마지막 아이템에 스타일링*/
.vertical-item:last-child {
  border-bottom: 0px;
}
/*클래스가 vertical-item인 태그의 짝수 번째 아이템에 스타일링*/
.vertical-item:nth-child(even) {
  background-color: #eee;
}
.horizontal-list {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0px;
}
.horizontal-item {
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
}
/*클래스가 horizontal-item인 태그의 왼쪽 경계선을 생성.*/
.horizontal-item {
  border-left: 2px solid #999;
}
/*클래스가 horizontal-item인 태그의 첫 번째 태그만 왼쪽 경계선을 제거.*/
.horizontal-item:first-child {
  border-left: 0px;
}
/*클래스가 horizontal-item인 태그의 마지막 태그만 글자 색상을 임의로 지정.*/
.horizontal-item:last-child {
  color: rgb(110, 70, 255);
}
/*클래스가 horizontal-item인 태그의 마우스를 올려두면 임의의 글자 색상을 지정.*/
.horizontal-item:hover {
  color: #a00;
}
/*클래스가 horizontal-item인 태그의 홀수 번째 아이템만 배경색을 임의로 지정한다.*/
.horizontal-item:nth-child(2n-1) {
  background-color: #b0b;
}
/*box여서 padding, margin도 가능*/
.horizontal-item::before {
  content: "😎";
}
.horizontal-item::after {
  content: "🍕";
}
=======
/*스타일링의 우선순위
    스타일 방법에 따른 우선순위
    (단, HTML 코드의 위치에 따라 우선순위는 달라질 수 있다)
        1. External Style
        2. Internal Style
        3. Inline Style
    같은 태그의 스타일링 우선순위
        1. tag-selector, pseudo-element
        2. class-selector, pseudo-class, attribute
        3. ID-selector
        4. Inline-style
        - 같은 태그에 같은 우선순위를 가지는 스타일링을 했을 때의 우선순위
        예> a 태그에 pseudo-class를 여러개 적용했을 때    
            a 태그에 class를 여러개 적용했을 때
            ==> css의 작성 순서로 스타일링 적용    
*/
/*링크에 대한 스타일*/
a:link {
  color: #666;
  font-size: 20px;
  text-decoration: none;
}
/*링크에 마우스를 올렸을 때 스타일*/
a:hover {
  color: #444;
  text-decoration: underline;
}
/*방문 기록이 있는 링크의 스타일*/
a:visited {
  color: #b0b;
}
/*링크를 마우스로 누르고 있을 때 스타일*/
a:active {
  color: #a00;
}
/*Tab 눌렀을 때만 보이는 것*/
a:focus {
  /* border: 3px solid #000; */
  /* outline: 5px dashed #a00; */
  outline: 0;
  color: #0ff;
  background-color: #ff0;
}

.section-title {
  color: #333 !important;
  margin: 5px;
  border-bottom: 2px solid #ccc;
}
.vertical-list {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 20px;
}
.vertical-item {
  padding: 5px 10px;
  border-bottom: 1px dashed #ccc;
}
/*클래스가 vertical-item인 태그의 마지막 아이템에 스타일링*/
.vertical-item:last-child {
  border-bottom: 0px;
}
/*클래스가 vertical-item인 태그의 짝수 번째 아이템에 스타일링*/
.vertical-item:nth-child(even) {
  background-color: #eee;
}
.horizontal-list {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0px;
}
.horizontal-item {
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
}
/*클래스가 horizontal-item인 태그의 왼쪽 경계선을 생성.*/
.horizontal-item {
  border-left: 2px solid #999;
}
/*클래스가 horizontal-item인 태그의 첫 번째 태그만 왼쪽 경계선을 제거.*/
.horizontal-item:first-child {
  border-left: 0px;
}
/*클래스가 horizontal-item인 태그의 마지막 태그만 글자 색상을 임의로 지정.*/
.horizontal-item:last-child {
  color: rgb(110, 70, 255);
}
/*클래스가 horizontal-item인 태그의 마우스를 올려두면 임의의 글자 색상을 지정.*/
.horizontal-item:hover {
  color: #a00;
}
/*클래스가 horizontal-item인 태그의 홀수 번째 아이템만 배경색을 임의로 지정한다.*/
.horizontal-item:nth-child(2n-1) {
  background-color: #b0b;
}
/*box여서 padding, margin도 가능*/
.horizontal-item::before {
  content: "😎";
}
.horizontal-item::after {
  content: "🍕";
}
>>>>>>> ea1342efd5ea3dfb2f98354de2a011280fe6400c
