<<<<<<< HEAD
.box {
  width: 100px;
  height: 100px;
  border: 1px solid #333;
}
.red {
  background-color: #f00;
  float: right;
}
.green {
  background-color: #0f0;
  float: right;
}
.blue {
  background-color: #00f;
  float: left;
}
.clear {
  clear: both;
}
=======
.box {
  width: 100px;
  height: 100px;
  border: 1px solid #333;
}
.red {
  background-color: #f00;
  float: right;
}
.green {
  background-color: #0f0;
  float: right;
}
.blue {
  background-color: #00f;
  float: left;
}
.clear {
  clear: both;
}
>>>>>>> ea1342efd5ea3dfb2f98354de2a011280fe6400c
