/*존재하는 모든 box*/
* {
  box-sizing: border-box;
}

body {
  background-color: #f5f6f7;
  /*글자들의 기본 색*/
  color: #333;
}

/*목록 스타일*/
.vertical-list > li {
  font-size: 16px;
  padding: 5px 0;
}
/*리스트 점 제거*/
.horizontal-list,
.vertical-list {
  margin: 0;
  padding: 0;
  /*글자 사이의 공백 제거하기*/
  font-size: 0;
  list-style-type: none;
}
.horizontal-item {
  /*block처럼 보여서 바꿔주기*/
  display: inline-block;
  font-size: 16px;
  /*가운데 기준으로 정렬되게*/
  vertical-align: middle;
  padding: 20px 15px;
}

/*padding 제거*/
.no-padding {
  padding: 0;
}

/*모든 이미지의 공백 제거*/
img {
  vertical-align: bottom;
}

/*main-top이 이미 relative이기 때문에 한번 더 감싸 fixed를 써서 상단에 고정시킴*/
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999999;
}
.main-top-navigator {
  position: relative;
}
/*position 이용해서 오른쪽에 고정시키기(main-top은 relative로 설정)*/
.position-right {
  position: absolute;
  right: 0;
  top: 0;
}

/* 왼쪽 상단 부분만 이벤트 주기*/
.fixed-header
  > .main-top-navigator
  > .horizontal-list:first-child
  > .horizontal-item:hover {
  background-color: #04aa6d;
  color: #fff;
}
/*로고 부분은 이벤트 제거*/
.fixed-header
  > .main-top-navigator
  > .horizontal-list:first-child
  > .horizontal-item:first-child:hover {
  background-color: #fff;
  color: #333;
}
/*오른쪽 상단 부분만 이벤트 주기*/
.fixed-header
  > .main-top-navigator
  > .horizontal-list:last-child
  > .horizontal-item:not(.no-padding):hover {
  padding: 0px 5px;
}
.fixed-header
  > .main-top-navigator
  > .horizontal-list:last-child
  > .horizontal-item:hover
  > div {
  padding: 10px;
  background-color: #ddda;
  border-radius: 20px;
}

/*로고 크기 조정*/
.main-top-logo {
  width: 40px;
}
.skills {
  background-color: #333;
  color: #fff;
  height: 30px;
}
/*children selector 사용해서 skills의 list의 item만 padding 수정*/
.fixed-header > .skills > .horizontal-list > .horizontal-item {
  padding: 8px 15px;
  font-size: 11px;
}
/*검은 배경 부분 이벤트 추가*/
.fixed-header > .skills > .horizontal-list > .horizontal-item:hover {
  background-color: #000;
}
.fixed-header
  > .skills
  > .horizontal-list
  > .horizontal-item:not(.active):hover {
  background-color: #000;
}

.active {
  background-color: #04aa6d;
  color: #fff;
}
.green-button {
  background-color: #04aa6d;
  border: 0px;
  color: #fff;
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 7px;
}
.green-button:hover {
  background-color: #009760;
}

.main-top-navigator,
.skills > .horizontal-list {
  width: 1400px;
  margin: 0 auto;
}

/*메인 컨텐츠 스타일*/
.contents {
  width: 1400px;
  margin: 0 auto;
  /* background-color: #fff; */
  margin-top: 94px;
}
.fixed-side-area {
  position: fixed;
  background-color: #e7e9eb;
  width: 200px;
  /*스크롤바*/
  overflow: auto;
  height: 100%;
}
.fixed-side-area > h1 {
  margin: 20px 0 8px 0;
  font-size: 22px;
  font-weight: 600;
  padding-left: 10px;
}
.fixed-side-area > .vertical-list > li {
  padding-left: 10px;
}

.main-content {
  margin-left: 200px;
  padding: 10px 30px;
}
.main-content > .main-content-header {
  position: relative;
}
.main-content > .main-content-header > h1 {
  font-size: 42px;
  font-weight: 400;
}
.main-content > .main-content-header > img {
  position: absolute;
  right: 0;
  top: 0;
}
.main-content > .main-content-header > .green-button:last-child {
  position: absolute;
  right: 0;
}
.main-content > .content > h2 {
  font-size: 32px;
  font-weight: 400;
}
.main-content > .content > div {
  margin: 8px 0;
}

.main-content > .content > .courses {
  position: relative;
}

.main-content > .content > .courses > .course-tutorial {
  background-color: #00ff0032;
  width: 49.5%;
  /* height: 200px; */
  display: inline-block;
  padding: 90px 0px;
  text-align: center;
  border-radius: 7px;
}

.main-content > .content > .courses > .course-certificate {
  position: absolute;
  right: 0;
  background-color: #ff001e32;
  width: 49.5%;
  /* height: 200px; */
  display: inline-block;
  padding: 90px 0px;
  text-align: center;
  border-radius: 7px;
}

.main-content > .content > .courses > .courses-center {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 20px);
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 10px;
  border-radius: 7px;
  z-index: 10;
}

.main-content > .content > .course-progress {
  width: 100%;
}
