<<<<<<< HEAD
.content-box {
  /*box 너비 지정*/
  width: 500px;
  background-color: #dddd0b;

  /*padding => content와 테두리 사이의 여백. 시계방향으로 픽셀을 줄 수 있다*/
  /*top right bottom left*/
  padding: 5px 12px 7px 3px;
  border: 10px solid #000;

  /*margin => box model의 크기와 관계 없음. 박스들을 떨어트리는 용도*/
  margin: 10px 20px 30px 40px;
}

.border-box {
  /*박스의 크기 기준을 border로 지정한다.*/
  box-sizing: border-box;

  width: 500px;
  background-color: #f0f;
  border: 10px solid #000;
  margin: 10px 20px 30px 40px;
}
=======
.content-box {
  /*box 너비 지정*/
  width: 500px;
  background-color: #dddd0b;

  /*padding => content와 테두리 사이의 여백. 시계방향으로 픽셀을 줄 수 있다*/
  /*top right bottom left*/
  padding: 5px 12px 7px 3px;
  border: 10px solid #000;

  /*margin => box model의 크기와 관계 없음. 박스들을 떨어트리는 용도*/
  margin: 10px 20px 30px 40px;
}

.border-box {
  /*박스의 크기 기준을 border로 지정한다.*/
  box-sizing: border-box;

  width: 500px;
  background-color: #f0f;
  border: 10px solid #000;
  margin: 10px 20px 30px 40px;
}
>>>>>>> ea1342efd5ea3dfb2f98354de2a011280fe6400c
