.center-align {
  text-align: center;
  font-size: 13px;
}
h1 {
  font-size: 80px;
  /*margin 20px 0 20px 0 =*/
  margin: 20px 0;
  font-weight: 500;
  text-align: center;
}
.summary {
  font-style: italic;
  text-align: center;
}
.thin {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}
.line {
  height: 1px;
  /* background-color: #333; */
  margin: 20px 0;
  background: linear-gradient(0.25turn, #fff, #333, #fff);
}
.wrap-box {
  display: inline-block;
  width: 460px;
  vertical-align: top;
  margin-right: 30px;
}
h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0;
}
.bolder {
  font-weight: 800;
}
.paragraph {
  /* margin: 0 0 10px 0; */
  margin-bottom: 10px;
}
.justify-align {
  text-align: justify;
}
.wrapper {
  width: 1000px;
  margin: 0 auto 0 auto;
}
a:link {
  color: #333;
}
a:hover {
  color: #c00;
}
.here {
  color: #f00;
}
