<<<<<<< HEAD
.section-title {
  margin: 5px;
  border-bottom: 2px solid #ccc;
}
.vertical-list {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 20px;
}
.vertical-item {
  padding: 5px 10px;
}
.horizontal-list {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 20px;
}
.horizontal-item {
  display: inline-block;
  padding: 5px 10px;
}
=======
.section-title {
  margin: 5px;
  border-bottom: 2px solid #ccc;
}
.vertical-list {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 20px;
}
.vertical-item {
  padding: 5px 10px;
}
.horizontal-list {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 20px;
}
.horizontal-item {
  display: inline-block;
  padding: 5px 10px;
}
>>>>>>> ea1342efd5ea3dfb2f98354de2a011280fe6400c
