.flex {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /*수평배치*/
  flex-direction: row;
  /*수직배치*/
  /* flex-direction: column; */
  flex-wrap: wrap;
  /*메인축 정렬*/
  /* justify-content: space-evenly; */

  /*교차축 정렬*/
  /* align-items: stretch; */

  /*줄넘김 정렬*/
  /* align-content: stretch; */
}
