<<<<<<< HEAD
/*명시도에서 우선순위가 가장 낮은 태그 셀렉터*/
div {
  background-color: #cccccc;
  border: 3px dotted #ff0000;
  color: #333333;
  font-weight: 700;
  font-size: 32px;
}
/*명시도에서 우선순위가 태그 다음으로 높은 클래스 셀렉터*/
.tag-class {
  font-size: 48px;
  color: #ff00ff;
}
/*명시도에서 우선순위가 클래스 다음으로 높은 아이디 셀렉터*/
#tag {
  color: #0000ff;
}
=======
/*명시도에서 우선순위가 가장 낮은 태그 셀렉터*/
div {
  background-color: #cccccc;
  border: 3px dotted #ff0000;
  color: #333333;
  font-weight: 700;
  font-size: 32px;
}
/*명시도에서 우선순위가 태그 다음으로 높은 클래스 셀렉터*/
.tag-class {
  font-size: 48px;
  color: #ff00ff;
}
/*명시도에서 우선순위가 클래스 다음으로 높은 아이디 셀렉터*/
#tag {
  color: #0000ff;
}
>>>>>>> ea1342efd5ea3dfb2f98354de2a011280fe6400c
